model {
  dense {
    num_units:10
  }
}

train_config {
  batch_size:100
  lr:0.001
  num_train_steps:70000
}

train_input_reader {
  shuffle:True
  input_file_path:"/sdb/hugo/PythonWorkspace/Test/MNIST_data"
}

eval_input_reader {
  shuffle:False
  input_file_path:"/sdb/hugo/PythonWorkspace/Test/MNIST_data"
}

eval_config {
  batch_size:100
}